In [1]:
import pandas as pd

In [2]:
unames = ['user_id','gender','age','occupation','zip']

In [3]:
users = pd.read_table('./pydata-book-master/ch02/movielens/users.dat',sep='::',header=None,names=unames)

/Users/tanchengjun/anaconda3/envs/spider/lib/python3.6/site-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [5]:
users.head()

   user_id gender  age  occupation    zip
0        1      F    1          10  48067
1        2      M   56          16  70072
2        3      M   25          15  55117
3        4      M   45           7  02460
4        5      M   25          20  55455

In [6]:
rnames = ['user_id', 'movie_id', 'rating', 'timestamp']

In [7]:
ratings = pd.read_table('./pydata-book-master/ch02/movielens/ratings.dat', sep='::', header=None, names=rnames)

/Users/tanchengjun/anaconda3/envs/spider/lib/python3.6/site-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [8]:
ratings.head()

   user_id  movie_id  rating  timestamp
0        1      1193       5  978300760
1        1       661       3  978302109
2        1       914       3  978301968
3        1      3408       4  978300275
4        1      2355       5  978824291

In [9]:
mnames = ['movie_id', 'title', 'genres']

In [14]:
movies = pd.read_table('./pydata-book-master/ch02/movielens/movies.dat',sep='::', header=None, names=mnames)
movies

/Users/tanchengjun/anaconda3/envs/spider/lib/python3.6/site-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

,movie_id,title,genres
0,1,Toy Story (1995),Animation|Children's|Comedy
1,2,Jumanji (1995),Adventure|Children's|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children's
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller
10,11,"American President, The (1995)",Comedy|Drama|Romance
11,12,Dracula: Dead and Loving It (1995),Comedy|Horror
12,13,Balto (1995),Animation|Children's
13,14,Nixon (1995),Drama
14,15,Cutthroat Island (1995),Action|Adventure|Romance
15,16,Casino (1995),Drama|Thriller
16,17,Sense and Sensibility (1995),Drama|Romance
17,18,Four Rooms (1995),Thriller
18,19,Ace Ventura: When Nature Calls (1995),Comedy
19,20,Money Train (1995),Action
20,21,Get Shorty (1995),Action|Comedy|Drama
21,22,Copycat (1995),Crime|Drama|Thriller
22,23,Assassins (1995),Thriller
23,24,Powder (1995),Drama|Sci-Fi
24,25,Leaving Las Vegas (1995),Drama|Romance
25,26,Othello (1995),Drama
26,27,Now and Then (1995),Drama
27,28,Persuasion (1995),Romance
28,29,"City of Lost Children, The (1995)",Adventure|Sci-Fi
29,30,Shanghai Triad (Yao a yao yao dao waipo qiao) ...,Drama
...,...,...,...
3853,3923,Return of the Fly (1959),Horror|Sci-Fi
3854,3924,Pajama Party (1964),Comedy
3855,3925,Stranger Than Paradise (1984),Comedy
3856,3926,Voyage to the Bottom of the Sea (1961),Adventure|Sci-Fi
3857,3927,Fantastic Voyage (1966),Adventure|Sci-Fi
3858,3928,Abbott and Costello Meet Frankenstein (1948),Comedy|Horror
3859,3929,"Bank Dick, The (1940)",Comedy
3860,3930,"Creature From the Black Lagoon, The (1954)",Horror
3861,3931,"Giant Gila Monster, The (1959)",Horror|Sci-Fi
3862,3932,"Invisible Man, The (1933)",Horror|Sci-Fi
3863,3933,"Killer Shrews, The (1959)",Horror|Sci-Fi
3864,3934,Kronos (1957),Sci-Fi
3865,3935,Kronos (1973),Horror
3866,3936,"Phantom of the Opera, The (1943)",Drama|Thriller
3867,3937,Runaway (1984),Sci-Fi|Thriller
3868,3938,"Slumber Party Massacre, The (1982)",Horror
3869,3939,"Slumber Party Massacre II, The (1987)",Horror
3870,3940,"Slumber Party Massacre III, The (1990)",Horror
3871,3941,Sorority House Massacre (1986),Horror
3872,3942,Sorority House Massacre II (1990),Horror
3873,3943,Bamboozled (2000),Comedy
3874,3944,Bootmen (2000),Comedy|Drama
3875,3945,Digimon: The Movie (2000),Adventure|Animation|Children's
3876,3946,Get Carter (2000),Action|Drama|Thriller
3877,3947,Get Carter (1971),Thriller
3878,3948,Meet the Parents (2000),Comedy
3879,3949,Requiem for a Dream (2000),Drama
3880,3950,Tigerland (2000),Drama
3881,3951,Two Family House (2000),Drama
3882,3952,"Contender, The (2000)",Drama|Thriller

In [15]:
users[:5]

   user_id gender  age  occupation    zip
0        1      F    1          10  48067
1        2      M   56          16  70072
2        3      M   25          15  55117
3        4      M   45           7  02460
4        5      M   25          20  55455

In [16]:
ratings[:5]

   user_id  movie_id  rating  timestamp
0        1      1193       5  978300760
1        1       661       3  978302109
2        1       914       3  978301968
3        1      3408       4  978300275
4        1      2355       5  978824291

In [17]:
movies[:5]

   movie_id                               title                        genres
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy

In [19]:
# 合并三个表
data = pd.merge(pd.merge(ratings, users), movies)

In [22]:
data.head()

,user_id,movie_id,rating,timestamp,gender,age,occupation,zip,title,genres
0,1,1193,5,978300760,F,1,10,48067,One Flew Over the Cuckoo's Nest (1975),Drama
1,2,1193,5,978298413,M,56,16,70072,One Flew Over the Cuckoo's Nest (1975),Drama
2,12,1193,4,978220179,M,25,12,32793,One Flew Over the Cuckoo's Nest (1975),Drama
3,15,1193,4,978199279,M,25,7,22903,One Flew Over the Cuckoo's Nest (1975),Drama
4,17,1193,5,978158471,M,50,1,95350,One Flew Over the Cuckoo's Nest (1975),Drama

In [23]:
data.ix[0]

/Users/tanchengjun/anaconda3/envs/spider/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

user_id                                            1
movie_id                                        1193
rating                                             5
timestamp                                  978300760
gender                                             F
age                                                1
occupation                                        10
zip                                            48067
title         One Flew Over the Cuckoo's Nest (1975)
genres                                         Drama
Name: 0, dtype: object

In [26]:
# 按照性别计算每部电影的平均得分
mean_ratings = data.pivot_table('rating', index='title',columns='gender',aggfunc='mean')

In [27]:
mean_ratings[:5]

gender                                F         M
title
$1,000,000 Duck (1971)         3.375000  2.761905
'Night Mother (1986)           3.388889  3.352941
'Til There Was You (1997)      2.675676  2.733333
'burbs, The (1989)             2.793478  2.962085
...And Justice for All (1979)  3.828571  3.689024

In [30]:
# 想过滤掉评分不达250条的电影
# 先对电影分组，有多少电影
ratings_by_title = data.groupby('title').size()

In [31]:
ratings_by_title[:10]

title
$1,000,000 Duck (1971)                37
'Night Mother (1986)                  70
'Til There Was You (1997)             52
'burbs, The (1989)                   303
...And Justice for All (1979)        199
1-900 (1994)                           2
10 Things I Hate About You (1999)    700
101 Dalmatians (1961)                565
101 Dalmatians (1996)                364
12 Angry Men (1957)                  616
dtype: int64

In [32]:
active_titles = ratings_by_title.index[ratings_by_title>=250]

In [53]:
active_titles

Index([''burbs, The (1989)', '10 Things I Hate About You (1999)',
       '101 Dalmatians (1961)', '101 Dalmatians (1996)', '12 Angry Men (1957)',
       '13th Warrior, The (1999)', '2 Days in the Valley (1996)',
       '20,000 Leagues Under the Sea (1954)', '2001: A Space Odyssey (1968)',
       '2010 (1984)',
       ...
       'X-Men (2000)', 'Year of Living Dangerously (1982)',
       'Yellow Submarine (1968)', 'You've Got Mail (1998)',
       'Young Frankenstein (1974)', 'Young Guns (1988)',
       'Young Guns II (1990)', 'Young Sherlock Holmes (1985)',
       'Zero Effect (1998)', 'eXistenZ (1999)'],
      dtype='object', name='title', length=1216)

In [34]:
mean_ratings = mean_ratings.ix[active_titles]

/Users/tanchengjun/anaconda3/envs/spider/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

In [35]:
mean_ratings

gender                                                     F         M
title
'burbs, The (1989)                                  2.793478  2.962085
10 Things I Hate About You (1999)                   3.646552  3.311966
101 Dalmatians (1961)                               3.791444  3.500000
101 Dalmatians (1996)                               3.240000  2.911215
12 Angry Men (1957)                                 4.184397  4.328421
13th Warrior, The (1999)                            3.112000  3.168000
2 Days in the Valley (1996)                         3.488889  3.244813
20,000 Leagues Under the Sea (1954)                 3.670103  3.709205
2001: A Space Odyssey (1968)                        3.825581  4.129738
2010 (1984)                                         3.446809  3.413712
28 Days (2000)                                      3.209424  2.977707
39 Steps, The (1935)                                3.965517  4.107692
54 (1998)                                           2.701754  2.782178
7th Voyage of Sinbad, The (1958)                    3.409091  3.658879
8MM (1999)                                          2.906250  2.850962
About Last Night... (1986)                          3.188679  3.140909
Absent Minded Professor, The (1961)                 3.469388  3.446809
Absolute Power (1997)                               3.469136  3.327759
Abyss, The (1989)                                   3.659236  3.689507
Ace Ventura: Pet Detective (1994)                   3.000000  3.197917
Ace Ventura: When Nature Calls (1995)               2.269663  2.543333
Addams Family Values (1993)                         3.000000  2.878531
Addams Family, The (1991)                           3.186170  3.163498
Adventures in Babysitting (1987)                    3.455782  3.208122
Adventures of Buckaroo Bonzai Across the 8th Di...  3.308511  3.402321
Adventures of Priscilla, Queen of the Desert, T...  3.989071  3.688811
Adventures of Robin Hood, The (1938)                4.166667  3.918367
African Queen, The (1951)                           4.324232  4.223822
Age of Innocence, The (1993)                        3.827068  3.339506
Agnes of God (1985)                                 3.534884  3.244898
...                                                      ...       ...
White Men Can't Jump (1992)                         3.028777  3.231061
Who Framed Roger Rabbit? (1988)                     3.569378  3.713251
Who's Afraid of Virginia Woolf? (1966)              4.029703  4.096939
Whole Nine Yards, The (2000)                        3.296552  3.404814
Wild Bunch, The (1969)                              3.636364  4.128099
Wild Things (1998)                                  3.392000  3.459082
Wild Wild West (1999)                               2.275449  2.131973
William Shakespeare's Romeo and Juliet (1996)       3.532609  3.318644
Willow (1988)                                       3.658683  3.453543
Willy Wonka and the Chocolate Factory (1971)        4.063953  3.789474
Witness (1985)                                      4.115854  3.941504
Wizard of Oz, The (1939)                            4.355030  4.203138
Wolf (1994)                                         3.074074  2.899083
Women on the Verge of a Nervous Breakdown (1988)    3.934307  3.865741
Wonder Boys (2000)                                  4.043796  3.913649
Working Girl (1988)                                 3.606742  3.312500
World Is Not Enough, The (1999)                     3.337500  3.388889
Wrong Trousers, The (1993)                          4.588235  4.478261
Wyatt Earp (1994)                                   3.147059  3.283898
X-Files: Fight the Future, The (1998)               3.489474  3.493797
X-Men (2000)                                        3.682310  3.851702
Year of Living Dangerously (1982)                   3.951220  3.869403
Yellow Submarine (1968)                             3.714286  3.689286
You've Got Mail (1998)                              3.542424  3.275591
Young Frankenstein (1974)                           4.289963  4.239177
Young Guns (1988)                                   3.371795  3.425620
Young Guns II (1990)                                2.934783  2.904025
Young Sherlock Holmes (1985)                        3.514706  3.363344
Zero Effect (1998)                                  3.864407  3.723140
eXistenZ (1999)                                     3.098592  3.289086

[1216 rows x 2 columns]

In [36]:
# 为了解女性观众最喜欢的电影，对f列降序排列,by的作用是对某列排序

In [37]:
top_female_ratings = mean_ratings.sort_index(by='F', ascending=False)

/Users/tanchengjun/anaconda3/envs/spider/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: by argument to sort_index is deprecated, pls use .sort_values(by=...)
  """Entry point for launching an IPython kernel.

In [38]:
top_female_ratings[:10]

gender                                                     F         M
title
Close Shave, A (1995)                               4.644444  4.473795
Wrong Trousers, The (1993)                          4.588235  4.478261
Sunset Blvd. (a.k.a. Sunset Boulevard) (1950)       4.572650  4.464589
Wallace & Gromit: The Best of Aardman Animation...  4.563107  4.385075
Schindler's List (1993)                             4.562602  4.491415
Shawshank Redemption, The (1994)                    4.539075  4.560625
Grand Day Out, A (1992)                             4.537879  4.293255
To Kill a Mockingbird (1962)                        4.536667  4.372611
Creature Comforts (1990)                            4.513889  4.272277
Usual Suspects, The (1995)                          4.513317  4.518248

In [39]:
mean_ratings['diff'] = mean_ratings['M'] - mean_ratings['F']

In [42]:
sorted_by_diff = mean_ratings.sort_index(by='diff')

/Users/tanchengjun/anaconda3/envs/spider/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: by argument to sort_index is deprecated, pls use .sort_values(by=...)
  """Entry point for launching an IPython kernel.

In [44]:
sorted_by_diff[:15]

gender                                        F         M      diff
title
Dirty Dancing (1987)                   3.790378  2.959596 -0.830782
Jumpin' Jack Flash (1986)              3.254717  2.578358 -0.676359
Grease (1978)                          3.975265  3.367041 -0.608224
Little Women (1994)                    3.870588  3.321739 -0.548849
Steel Magnolias (1989)                 3.901734  3.365957 -0.535777
Anastasia (1997)                       3.800000  3.281609 -0.518391
Rocky Horror Picture Show, The (1975)  3.673016  3.160131 -0.512885
Color Purple, The (1985)               4.158192  3.659341 -0.498851
Age of Innocence, The (1993)           3.827068  3.339506 -0.487561
Free Willy (1993)                      2.921348  2.438776 -0.482573
French Kiss (1995)                     3.535714  3.056962 -0.478752
Little Shop of Horrors, The (1960)     3.650000  3.179688 -0.470312
Guys and Dolls (1955)                  4.051724  3.583333 -0.468391
Mary Poppins (1964)                    4.197740  3.730594 -0.467147
Patch Adams (1998)                     3.473282  3.008746 -0.464536

In [45]:
# 对结果反序再取前15行,得到男性观众更喜欢的电影
sorted_by_diff[::-1][:15]

gender                                         F         M      diff
title
Good, The Bad and The Ugly, The (1966)  3.494949  4.221300  0.726351
Kentucky Fried Movie, The (1977)        2.878788  3.555147  0.676359
Dumb & Dumber (1994)                    2.697987  3.336595  0.638608
Longest Day, The (1962)                 3.411765  4.031447  0.619682
Cable Guy, The (1996)                   2.250000  2.863787  0.613787
Evil Dead II (Dead By Dawn) (1987)      3.297297  3.909283  0.611985
Hidden, The (1987)                      3.137931  3.745098  0.607167
Rocky III (1982)                        2.361702  2.943503  0.581801
Caddyshack (1980)                       3.396135  3.969737  0.573602
For a Few Dollars More (1965)           3.409091  3.953795  0.544704
Porky's (1981)                          2.296875  2.836364  0.539489
Animal House (1978)                     3.628906  4.167192  0.538286
Exorcist, The (1973)                    3.537634  4.067239  0.529605
Fright Night (1985)                     2.973684  3.500000  0.526316
Barb Wire (1996)                        1.585366  2.100386  0.515020

In [50]:
# 如果想找出分歧最大的电影,可以根据方差标准差
ratings_std_by_title = data.groupby('title')['rating'].std()
ratings_std_by_title

title
$1,000,000 Duck (1971)                            1.092563
'Night Mother (1986)                              1.118636
'Til There Was You (1997)                         1.020159
'burbs, The (1989)                                1.107760
...And Justice for All (1979)                     0.878110
1-900 (1994)                                      0.707107
10 Things I Hate About You (1999)                 0.989815
101 Dalmatians (1961)                             0.982103
101 Dalmatians (1996)                             1.098717
12 Angry Men (1957)                               0.812731
13th Warrior, The (1999)                          1.140421
187 (1997)                                        1.057919
2 Days in the Valley (1996)                       0.921592
20 Dates (1998)                                   1.151943
20,000 Leagues Under the Sea (1954)               0.869685
200 Cigarettes (1999)                             1.111964
2001: A Space Odyssey (1968)                      1.042504
2010 (1984)                                       0.946618
24 7: Twenty Four Seven (1997)                    1.000000
24-hour Woman (1998)                              0.666667
28 Days (2000)                                    0.920278
3 Ninjas: High Noon On Mega Mountain (1998)       0.791958
3 Strikes (2000)                                  1.258306
301, 302 (1995)                                   0.781736
39 Steps, The (1935)                              0.853501
400 Blows, The (Les Quatre cents coups) (1959)    0.869893
42 Up (1998)                                      0.906265
52 Pick-Up (1986)                                 0.911162
54 (1998)                                         1.035481
7th Voyage of Sinbad, The (1958)                  0.931531
                                                    ...
Wrongfully Accused (1998)                         1.249283
Wyatt Earp (1994)                                 0.922257
X-Files: Fight the Future, The (1998)             0.897204
X-Men (2000)                                      0.915067
X: The Unknown (1956)                             1.267304
Xiu Xiu: The Sent-Down Girl (Tian yu) (1998)      1.026503
Yankee Zulu (1994)                                0.000000
Yards, The (1999)                                 1.071440
Year My Voice Broke, The (1987)                   0.786278
Year of Living Dangerously (1982)                 0.880997
Year of the Horse (1997)                          1.258306
Yellow Submarine (1968)                           1.075429
Yojimbo (1961)                                    0.853238
You Can't Take It With You (1938)                 0.938833
You So Crazy (1994)                               1.445595
You've Got Mail (1998)                            1.037854
Young Doctors in Love (1982)                      0.992507
Young Frankenstein (1974)                         0.872810
Young Guns (1988)                                 1.017437
Young Guns II (1990)                              1.071959
Young Poisoner's Handbook, The (1995)             0.787355
Young Sherlock Holmes (1985)                      0.891176
Young and Innocent (1937)                         1.251666
Your Friends and Neighbors (1998)                 1.128659
Zachariah (1971)                                  2.121320
Zed & Two Noughts, A (1985)                       1.052794
Zero Effect (1998)                                1.042932
Zero Kelvin (Kj�rlighetens kj�tere) (1995)        0.707107
Zeus and Roxanne (1997)                           1.122884
eXistenZ (1999)                                   1.178568
Name: rating, Length: 3706, dtype: float64

In [64]:
# 根据active_titles进行过滤
ratings_std_by_title = ratings_std_by_title.ix[active_titles]
ratings_std_by_title

/Users/tanchengjun/anaconda3/envs/spider/lib/python3.6/site-packages/ipykernel_launcher.py:2: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

title
'burbs, The (1989)                                                    1.107760
10 Things I Hate About You (1999)                                     0.989815
101 Dalmatians (1961)                                                 0.982103
101 Dalmatians (1996)                                                 1.098717
12 Angry Men (1957)                                                   0.812731
13th Warrior, The (1999)                                              1.140421
2 Days in the Valley (1996)                                           0.921592
20,000 Leagues Under the Sea (1954)                                   0.869685
2001: A Space Odyssey (1968)                                          1.042504
2010 (1984)                                                           0.946618
28 Days (2000)                                                        0.920278
39 Steps, The (1935)                                                  0.853501
54 (1998)                                                             1.035481
7th Voyage of Sinbad, The (1958)                                      0.931531
8MM (1999)                                                            1.113432
About Last Night... (1986)                                            0.943025
Absent Minded Professor, The (1961)                                   0.938965
Absolute Power (1997)                                                 0.891659
Abyss, The (1989)                                                     0.948102
Ace Ventura: Pet Detective (1994)                                     1.140481
Ace Ventura: When Nature Calls (1995)                                 1.178748
Addams Family Values (1993)                                           1.013979
Addams Family, The (1991)                                             0.974064
Adventures in Babysitting (1987)                                      1.001816
Adventures of Buckaroo Bonzai Across the 8th Dimension, The (1984)    1.161592
Adventures of Priscilla, Queen of the Desert, The (1994)              1.009933
Adventures of Robin Hood, The (1938)                                  0.912244
African Queen, The (1951)                                             0.820580
Age of Innocence, The (1993)                                          0.919760
Agnes of God (1985)                                                   0.936249
                                                                        ...
White Men Can't Jump (1992)                                           0.938178
Who Framed Roger Rabbit? (1988)                                       0.964780
Who's Afraid of Virginia Woolf? (1966)                                0.959255
Whole Nine Yards, The (2000)                                          0.963258
Wild Bunch, The (1969)                                                0.933117
Wild Things (1998)                                                    1.032785
Wild Wild West (1999)                                                 1.065205
William Shakespeare's Romeo and Juliet (1996)                         1.167051
Willow (1988)                                                         1.002175
Willy Wonka and the Chocolate Factory (1971)                          1.016170
Witness (1985)                                                        0.795913
Wizard of Oz, The (1939)                                              0.895978
Wolf (1994)                                                           1.081220
Women on the Verge of a Nervous Breakdown (1988)                      0.882129
Wonder Boys (2000)                                                    0.880473
Working Girl (1988)                                                   0.879409
World Is Not Enough, The (1999)                                       0.972892
Wrong Trousers, The (1993)                                            0.708666
Wyatt Earp (1994)                                                     0.922257
X-Files: Fight the Future, The (1998)                                 0.897204
X-Men (2000)                                                          0.915067
Year of Living Dangerously (1982)                                     0.880997
Yellow Submarine (1968)                                               1.075429
You've Got Mail (1998)                                                1.037854
Young Frankenstein (1974)                                             0.872810
Young Guns (1988)                                                     1.017437
Young Guns II (1990)                                                  1.071959
Young Sherlock Holmes (1985)                                          0.891176
Zero Effect (1998)                                                    1.042932
eXistenZ (1999)                                                       1.178568
Name: rating, Length: 1216, dtype: float64

In [67]:
# 根据值进行降序，标注差越大，分歧越大
ratings_std_by_title.sort_index(ascending=False)[:10]

title
eXistenZ (1999)                      1.178568
Zero Effect (1998)                   1.042932
Young Sherlock Holmes (1985)         0.891176
Young Guns II (1990)                 1.071959
Young Guns (1988)                    1.017437
Young Frankenstein (1974)            0.872810
You've Got Mail (1998)               1.037854
Yellow Submarine (1968)              1.075429
Year of Living Dangerously (1982)    0.880997
X-Men (2000)                         0.915067
Name: rating, dtype: float64